        <!DOCTYPE html>
        <html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                
                <title>Voluntar.io</title>
        
                            <!--BOOTSTRAP-->
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        
                            <!--FONTE-->
                    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
                    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
                    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
                    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
                    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
                    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
                    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
                    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
                    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
        
                    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
            <link rel="stylesheet" type="text/css" href="css/component1.css" />
            <script src="modernizr-2.6.2.min.js"></script>

        
        
                            <!--MEU CSS-->
                    <link rel="stylesheet" type="text/css" href="css/voluntar.css">
        
                            <!--ICONE AO LADO DO TITULO DA PÁGINA-->
                    <link rel="shortcut icon" href="img/logo.ico">

                    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script> 
                    <script src="scriptVoluntario.js"></script>
        
        </head>
        <body ng-App="AppVoluntarios" ng-Controller="VoluntariosCtrl">
                            <!--HEADER POSSUI LOGO, CARROSSEL DE FRASES E SETA-->
        
                            <div class="imgtop"></div>
                                  
                            <nav class="navbar navbar-expand-lg navbar-light bg-dark" data-spy="affix" data-offset-top="320">
                                <a class="navbar-brand" href="home.html"><img src="img/nomelogo.png" height="32px auto"></a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                  <span class="navbar-toggler-icon"></span>
                                </button>  
                          </nav>
        
               <header>

                
        
                    <div class="container-fluid inicio">
        
                            <!--LOGO-->
                    <img class="logoinicio" src="img/logonome2.png">
        
                    <div class="container-fluid obs">
                        
                    

                    <h1 class="titulo">SEJA UM VOLUNTÁRIO!</h1>
                    <h3 class="subtitulo">MAS.. COMO FUNCIONA?</h3>

                    <div class="container explicas">

                    <div class="row">
                      <div class="col-sm-4">
                        <H2 class="expl">Se cadastre</H2>
                        <P>Cadastre seus dados<br>no formulário<br>abaixo</P>
                      </div>
                      <div class="col-sm-4">
                        <H2 class="expl">Baixe nosso APP</H2>
                        <P>Após finalizar o cadastro, baixo <br> nosso APP e acesse em seu <br>dispositivo móvel!</P>
                      </div>
                      <div class="col-sm-4">
                        <H2 class="expl">Encontre uma ONG</H2>
                        <P>Faça uma busca no APP<br>e encontre a ONG perfeita <br>para você ajudar!</P>
                      </div>
                    </div>

                  </div>

                  <h5 class="gostou">GOSTOU? ENTÃO VEM NOS AJUDAR A MUDAR O <br>MUNDO POR MEIO DA TECNOLOGIA!</h5>

                </div>
                <div class="divseta">
                  <a href="#sobre">
                      <img  class="seta" src="img/setavinhoso.png">
                  </a>
              </div>
           
               </header>
               
               <section class="cadastro">

                  <div class="container-fluid areadecadas">
                    <div class="row">
                      <div class="col">
                          <div class="espaço"></div>
                      </div>
                    </div>
                    

                    <div class="container dados">
                                                    <!-- SELECIONAR FOTO -->
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                            <label class="custom-file-label" for="customFileLang">Foto de Perfil</label>
                          </div>
                                                    <!-- NOME E SOBRENOME -->
                        <form>
                            <div class="form-row">
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Nome" ng-model="NOME">
                              </div>
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Sobrenome" ng-model="SOBRENOME">
                              </div>
                            </div>
                          </form> 
                                                  <!-- RG E CPF -->
                          <form>
                              <div class="form-row">
                                <div class="col">
                                  <input type="number" class="form-control" placeholder="RG" ng-model="RG">
                                </div>
                                <div class="col">
                                  <input type="number" class="form-control" placeholder="CPF" ng-model="CPF">
                                </div>
                              </div>
                            </form>
                                                  <!-- DATA DE NASCIMENTO -->
                            <form>
                                <div class="form-row">
                                  <div class="col">
                                    <input type="date" class="form-control" placeholder="Data de Nascimento" ng-model="DATANASCIMENTO">
                                  </div>
                                </div>
                              </form>
                                                    <!-- CAMPO DE MENSAGEM, HABILIDADES -->
                            <form>     
                              <div class="form-group">
                                  <div class="col-fluid">
                                  <label for="comment"></label>
                                  <textarea class="form-control" rows="3" id="comment" placeholder="Habilidades:" ng-model="HABILIDADES"></textarea>
                                </div>
                                </div>
                            </form>
                                                      <!-- EMAIL, USUARIO E SENHA -->
                            <div class="form-row">
                              <div class="form-group col-md-4">
                                <label for="inputEmail4"></label>
                                <input type="email" class="form-control" id="inputEmail4" placeholder="Email" ng-model="EMAIL">
                              </div>
                              <div class="col-md-4 mb-4">
                                <label for="validationDefaultUsername"></label>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="inputGroupPrepend2">@</span>
                                    </div>
                                    
                                      <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Usuário" aria-describedby="inputGroupPrepend2" required ng-model="USUARIO">
                                  </div>
                              </div>

                              <div class="form-group col-md-4">
                                <label for="inputPassword4"></label>
                                <input type="password" class="form-control" id="inputPassword4" placeholder="Senha" ng-model="SENHA">
                              </div>    
                        </div>
                            
                        
                        
                              <button type="submit" class="btn btn-primary" ng-click="CADASTRO(NOME, SOBRENOME, RG, CPF, DATANASCIMENTO, HABILIDADES, EMAIL, USUARIO, SENHA)">Cadastrar</button>

                      </div>
                    </div>
                  </div>
                </section>
      
                <button class="cn-button" id="cn-button">+</button>
                <div class="cn-wrapper" id="cn-wrapper">
                    <ul>
                      <li><a href="home.html"><span class="icon-home"></span></a></li>
                      <li><a href="#cadastro"><span class="icon-clippy"></span></a></li>
                      <li><a href="#ongs"><span class="icon-bookmarks"></span></a></li>
                      <li><a href="#equip"><span class="icon-group"></span></a></li>
                      <li><a href="#equip"><span class="icon-github"></span></a></li>
                     </ul>
                </div>
                <div id="cn-overlay" class="cn-overlay"></div>
               
               <footer>    
                <div class="container">    
                    <h1>#ABRAESSATAG</h1>
                </div>
              </footer>
                
              <script src="polyfills.js"></script>
              <script src="demo1.js"></script>
        
                
        
             
        
            
        </body>
        </html>